<!-- No disponible para vista web
<div class="contenido">
  <div class="contenedor"> 
    <h2 class="text-center h3 my-5">Restablecer contrase&ntilde;a<h2> 

    <%= form_tag password_resets_path, :method => :post do %>
      <div class="form-group ">             
        <%= email_field_tag :email, params[:email], autofocus: true, class:"form-control", placeholder:"Correo electrónico" %>        
      </div>
      <div class="actions ">
        <button class="btn btn-block btn-primary" type="submit" id="enviar">
          Enviar            
        </button>
      </div>
    <% end %>
  </div>
</div> -->

