<p>Hola <%= @user.nombres%> </p> </br>

<p>Para restablecer su contrase&ntilde;a, haga clic en el siguiente enlace.</p></br>

<%= link_to "Restablecer contraseña", edit_password_reset_url(@user.password_reset_token) %>

<p>Si no solicit&oacute; que se restablezca su contrase&ntilde;a, simplemente ignore este correo 
electr&oacute;nico y su contrase&ntilde;a seguir&aacute; siendo la misma.</p>