<%= image_tag('logo', width:'120', height:'120', alt:'logo')%>

<p>Hola <%= @user.nombres %>,</p> </br>

<p>Te damos la bienvenida a ¡A Donar se dijo!, la app que te permite realizar donaciones
sin ningun tipo de intermediario.</p> </br>

</p>Puede confirmar el correo electr&oacute;nico de su cuenta a trav&eacute;s del siguiente enlace:</p> </br>

<%=  link_to "Confirmar cuenta", confirm_email_url(@user.confirm_token)%>