<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A donar se dijo</title>    
</head>
    
<body>

    <div class="contenido">
        
        <div class="contenedor">

            <%= image_tag('logo', width:'300', height:'300', alt:'logo')%>
        
            <h1 class="h2 my-4">Bienvenidos a ¡A donar se dijo!</h1>

        </div>

    </div>

    

    
</body>
</html>