// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input[type="submit"], button{ color: #ffffff}

.actions{ margin-top: 30px;}

#enviar{height: 46px;}
#enviar:hover{ background-color: #1e88e5;}

form{
    max-width: 300px;
    margin: auto;
}



